<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>New Recipe</title>
    <div th:replace="fragments/header :: header-head"/>
</head>
<body>

<!--HEADER-->
<div th:replace="fragments/header :: header"/>

<!--SUB-HEADER AREA-->
<div class="subhdr-wrapper">

    <div class="uk-container">

        <div class="uk-grid">
            <div class="uk-width-1-2 rotate-div">
                <p class="rotate">New recipe!</p>
            </div>
            <div class="uk-width-expand">
                <img id="swedish-chef" src="/img/swedish-chef.png" alt="swedish-chef-image">
            </div>
        </div>
    </div> <!-- container -->
</div> <!-- subhdr-wrapper -->

<hr>
<main>
    <div class="content-wrapper">

        <div class="uk-container">

            <div class="container-form"> <!-- div to build the form in for
            sizing and positioning -->
                <h3>New recipe</h3>

                <form class="uk-form-horizontal uk-margin-small"
                        th:action="@{save}" th:object="${recipe}" method="post">

                    <!-- TODO: add error handling for field input errors -->

                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="recipe-name-field">Recipe name *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="recipe-name-field"
                                   type="text" th:field="*{name}"
                                   placeholder="enter name of recipe" required autofocus>
                        </div>
                    </div>

<!--                    add ingredients to recipe -> recipe ingredients-->
<!--                    1. find ingredient-->
<!--                    2. add unit-->
<!--                    3. add quantity-->
<!--                    4. set visual impact Y/N-->
<!--                    5, dependent on 4:-->
<!--                        1. recipe ingredient save decision tree-->
<!--                        OR-->
<!--                        1. provide form-->
<!--                        2. provide texture-->
<!--                        3. provide cooking method-->
<!--                        4. provide color-->
<!--                        5. recipe ingredient save decision tree-->
<!--                    6. loop through this for each recipe ingredient-->


<!--                    <div class="uk-margin">-->
<!--                        <label class="uk-form-label form-label"-->
<!--                               for="ingredient-category-field">Ingredient category *</label>-->
<!--                        <div class="uk-form-controls">-->
<!--                            <select class="uk-select" id="ingredient-category-field"-->
<!--                                    th:field="*{category}" placeholder="select ingredient category" required>-->
<!--                                <option th:each="category : ${T(io.eho.dishspawn.model.util.visualproperties.IngredientCategory).values()}"-->
<!--                                        th:value="${category}"-->
<!--                                        th:text="${category.label}">-->
<!--                                </option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->

                    <button type="submit" class="buttons">Save new recipe</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>