<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- viewport tag for enabling responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>New Recipe</title>

    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/css/master.css}">

    <script type="text/javascript" th:src="@{/js/master.js}"></script>
    <script type="text/javascript" th:src="@{/js/uikit.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/uikit-icons.min.js}"></script>

</head>
<body>

<!--HEADER-->
<div class="hdr-wrapper"> <!-- div without width spanning browser width -->

    <div class="uk-container"> <!-- UIKit class to center + set max width -->
        <!-- now set-up row/column structure -->

        <nav class="uk-navbar">
<!--            logo part (includes the text (name and tagline)-->
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img class="uk-margin-small-right food-icon"
                         src="/img/logo/icons8-rice-bowl-100.png">
                    <div class="tagline">
                        <div class="tagline-cell">
                            <p id="tagline-main">Dish Spawn</p>
                            <p id="tagline-sub">Virtual Cook Apprentice</p>
                        </div>
                    </div>
                </a>
            </div>

            <!--            search-->
            <div class="uk-navbar-center">
                <div id="nav-search">
                    <a class="uk-navbar-toggle" uk-search-icon></a>
                    <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: -50">
                        <form class="uk-search uk-search-navbar uk-width-expand" action="javascript:executeSearch()">
                            <input id="searchKey" class="uk-search-input" type="search" placeholder="Search" autofocus>
                        </form>
                    </div>
                </div>
            </div>

<!--            chefs / recipes / login / register-->
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-link-text" href="/chef/all">Chefs</a></li>
                    <li><a class="uk-link-text" href="/recipe/all">Recipes</a></li>
                    <li><a class="uk-link-text" href="/chef/login">Login</a></li>
                    <li><a class="uk-link-text" href="/chef/add">Register</a></li>
                </ul>
            </div>

        </nav>

    </div>


</div>

<!--<hr>-->
<!--SUB-HEADER AREA-->
<div class="subhdr-wrapper"> <!-- div without width spanning browser width -->

    <div class="uk-container"> <!-- UIKit class to center + set max width -->
<!--        now set row with 2 elements: title of form + image-->

        <div class="uk-grid">
            <div class="uk-width-1-2 rotate-div">
                <p class="rotate">New recipe!</p>
            </div>
            <div class="uk-width-expand">
                <img id="swedish-chef" src="/img/swedish-chef.png" alt="swedish-chef-image">
            </div>
        </div>

    </div> <!-- container -->

</div> <!-- subhdr-wrapper -->

<hr>
<main>
    <div class="content-wrapper"> <!-- div without width spanning browser width -->

        <div class="uk-container"> <!-- UIKit class to center + set max width -->
<!--            now set up the form-->

            <div class="container-form"> <!-- div to build the form in for
            sizing and positioning -->

                <form class="uk-form-horizontal uk-margin-small"
                        th:action="@{save}" th:object="${recipe}" method="post">

                    <h3>New recipe</h3>
                    <br>

                    <!-- TODO: add error handling for field input errors -->

                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="recipe-name-field">Recipe name *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="recipe-name-field"
                                   type="text" th:field="*{name}"
                                   placeholder="enter name of recipe" required autofocus>
                        </div>
                    </div>

<!--                    add ingredients to recipe -> recipe ingredients-->
<!--                    1. find ingredient-->
<!--                    2. add unit-->
<!--                    3. add quantity-->
<!--                    4. set visual impact Y/N-->
<!--                    5, dependent on 4:-->
<!--                        1. recipe ingredient save decision tree-->
<!--                        OR-->
<!--                        1. provide form-->
<!--                        2. provide texture-->
<!--                        3. provide cooking method-->
<!--                        4. provide color-->
<!--                        5. recipe ingredient save decision tree-->
<!--                    6. loop through this for each recipe ingredient-->


<!--                    <div class="uk-margin">-->
<!--                        <label class="uk-form-label form-label"-->
<!--                               for="ingredient-category-field">Ingredient category *</label>-->
<!--                        <div class="uk-form-controls">-->
<!--                            <select class="uk-select" id="ingredient-category-field"-->
<!--                                    th:field="*{category}" placeholder="select ingredient category" required>-->
<!--                                <option th:each="category : ${T(io.eho.dishspawn.model.util.visualproperties.IngredientCategory).values()}"-->
<!--                                        th:value="${category}"-->
<!--                                        th:text="${category.label}">-->
<!--                                </option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->

                    <button type="submit" class="buttons">Save new recipe</button>

                </form>

            </div>

        </div>

    </div>



</main>

</body>
</html>