<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>New Chef</title>
    <div th:replace="fragments/header :: header-head"/>
</head>
<body>

<!--HEADER-->
<div th:replace="fragments/header :: header"/>
<!--SUB-HEADER AREA-->
<div class="subhdr-wrapper"> <!-- div without width spanning browser width -->

    <div class="uk-container">

        <div class="uk-grid">

            <div class="uk-width-1-2 rotate-div">
                <p class="rotate">Make me chef!</p>
            </div>

            <div class="uk-width-expand">
                <img id="swedish-chef" src="/img/swedish-chef.png"
                     alt="swedish-chef-image">
            </div>
        </div>
    </div> <!-- container -->
</div> <!-- subhdr-wrapper -->

<hr>
<main>
    <div class="content-wrapper"> <!-- div without width spanning browser width -->

        <div class="uk-container"> <!-- UIKit class to center + set max width -->
<!--            now set up the form-->

            <div class="container-form"> <!-- div to build the form in for
            sizing and positioning -->

                <form class="uk-form-horizontal uk-margin-small"
                        th:action="@{/chef/create}" th:object="${formNewChefData}" method="post">
                    <h3>Register</h3>
                    <br>

                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="username-field">Username*</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="username-field"
                                   type="text" th:field="*{userName}"
                                   placeholder="enter username" required autofocus>
                            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="email-field">Email*</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="email-field"
                                   type="text" th:field="*{email}"
                                   placeholder="enter email" required>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="password-field">Password*</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="password-field"
                                   type="password" th:field="*{password}"
                                   placeholder="enter password" required>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="retype-password-field">Retype Password*</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="retype-password-field"
                                   type="password" th:field="*{retypePassword}"
                                   placeholder="retype password" required>
                            <span th:if="${#fields.hasErrors('passwordsEqual')}" th:errors="*{passwordsEqual}"></span>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="first-name-field">First name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="first-name-field"
                                   type="text" th:field="*{firstName}"
                                   placeholder="enter first name">
                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="last-name-field">Last name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="last-name-field"
                                   type="text" th:field="*{lastName}"
                                   placeholder="enter last name">
                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                        </div>
                    </div>

                    <button class="uk-button uk-button-small uk-button-primary uk-border-pill"
                            type="submit">Register me</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>