<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>New Ingredient</title>
    <div th:replace="fragments/header :: header-head"/>
</head>
<body>

<!--HEADER-->
<div th:replace="fragments/header :: header"/>

<!--SUB-HEADER AREA-->
<div class="subhdr-wrapper">
    <div class="uk-container">
        <div class="uk-grid">
            <div th:replace="fragments/subheader :: message(message='Add ingredient')"/>
            <div th:replace="fragments/subheader :: swedish-chef"/>
        </div>
    </div> <!-- container -->
</div> <!-- subhdr-wrapper -->

<hr>
<main>
    <div class="content-wrapper"> <!-- div without width spanning browser width -->
        <div class="uk-container">
            <div class="container-form">

                <form class="uk-form-horizontal uk-margin-small"
                        th:action="@{save}" th:object="${ingredient}" method="post">

                    <h1>New ingredient</h1>
                    <br>

                    <!-- TODO: add error handling for field input errors -->

                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="ingredient-name-field">Ingredient name *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="ingredient-name-field"
                                   type="text" th:field="*{name}"
                                   placeholder="enter name of ingredient" required autofocus>
                        </div>
                    </div>

<!--                    below an example of how to have a picklist pre-populated -->
<!--                    by values from an enum -->
                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="ingredient-category-field">Ingredient category *</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="ingredient-category-field"
                                    th:field="*{category}" placeholder="select ingredient category" required>
                                <option th:each="category : ${T(io.eho.dishspawn.model.util.visualproperties.IngredientCategory).values()}"
                                        th:value="${category}"
                                        th:text="${category.label}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="buttons">Save new ingredient</button>

                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>