<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header-head(pageTitle='New Recipe')"></head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="subhdr-wrapper">
    <div class="uk-container">

        <div class="uk-grid">
            <div th:replace="fragments/subheader :: message(message='New recipe!')"/>
        </div>
        <hr class="custom-hr">

    </div>
</div>

<main>
    <div class="content-wrapper">
        <div class="uk-container">
            <div class="container-form">
                <h3>New recipe</h3>

                <form class="uk-form-horizontal uk-margin-small"
                        th:action="@{save}" th:object="${recipe}" method="post">

                    <div class="uk-margin">
                        <label class="uk-form-label form-label"
                               for="recipe-name-field">Recipe name *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="recipe-name-field"
                                   type="text" th:field="*{name}"
                                   placeholder="enter name of recipe" required autofocus>
                        </div>
                    </div>
<!--                    todo -->
<!--                    add ingredients to recipe -> recipe ingredients-->
<!--                    1. find ingredient-->
<!--                    2. add unit-->
<!--                    3. add quantity-->
<!--                    4. set visual impact Y/N-->
<!--                    5, dependent on 4:-->
<!--                        1. recipe ingredient save decision tree-->
<!--                        OR-->
<!--                        1. provide form-->
<!--                        2. provide texture-->
<!--                        3. provide cooking method-->
<!--                        4. provide color-->
<!--                        5. recipe ingredient save decision tree-->
<!--                    6. loop through this for each recipe ingredient-->

<!--                    <div class="uk-margin">-->
<!--                        <label class="uk-form-label form-label"-->
<!--                               for="ingredient-category-field">Ingredient category *</label>-->
<!--                        <div class="uk-form-controls">-->
<!--                            <select class="uk-select" id="ingredient-category-field"-->
<!--                                    th:field="*{category}" placeholder="select ingredient category" required>-->
<!--                                <option th:each="category : ${T(io.eho.dishspawn.model.util.visualproperties.IngredientCategory).values()}"-->
<!--                                        th:value="${category}"-->
<!--                                        th:text="${category.label}">-->
<!--                                </option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->

                    <button type="submit" class="buttons">Save new recipe</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>