<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header-head(pageTitle='List of all recipes')"></head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="subhdr-wrapper">
    <div class="uk-container">

        <div class="uk-grid">
            <div th:replace="fragments/subheader :: message(message='All recipes')"/>
        </div>
        <hr class="custom-hr">

    </div>
</div>

<main>

    <div th:each="recipe:${recipes}">
        <p style="display: inline-block">Recipe name: </p>
        <p style="display: inline-block" th:text="${recipe.name}"></p>
        <br>
        <p style="display: inline-block">Recipe instructions: </p>
        <p style="display: inline-block" th:text="${recipe.instructions}"></p>
        <br>
        <hr>
    </div>

</main>
</body>
</html>