<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header-head(pageTitle='List of all chefs:')"></head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="subhdr-wrapper">
    <div class="uk-container">

        <div class="uk-grid">
            <div th:replace="fragments/subheader :: message(message='All chefs')"/>
        </div>
        <hr class="custom-hr">

    </div>
</div>

<main>

    <div th:each="chef:${chefs}">
        <p style="display: inline-block">First name: </p>
        <p style="display: inline-block" th:text="${chef.firstName}"></p> <br>
        <p style="display: inline-block">Username: </p>
        <p style="display: inline-block" th:text="${chef.userName}"></p> <br>
        <hr>
    </div>

</main>
</body>
</html>