<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>All Chefs</title>
    <div th:replace="fragments/header :: header-head"/>
</head>

<body>
<!--HEADER-->
<div th:replace="fragments/header :: header"/>

<!--SUB-HEADER AREA-->
<div class="subhdr-wrapper">

    <div class="uk-container">

        <div class="uk-grid">
            <div class="uk-width-1-2 rotate-div">
                <p class="rotate">All Chefs!</p>
            </div>
            <div class="uk-width-expand">
                <img id="swedish-chef" src="/img/swedish-chef.png" alt="swedish-chef-image">
            </div>
        </div>
    </div> <!-- container -->
</div> <!-- subhdr-wrapper -->

<hr>
<main>

    <div th:each="chef:${chefs}">
        <p style="display: inline-block">First name: </p>
        <p style="display: inline-block" th:text="${chef.firstName}"></p> <br>
        <p style="display: inline-block">Username: </p>
        <p style="display: inline-block" th:text="${chef.userName}"></p> <br>
        <hr>
    </div>

</main>
</body>
</html>