<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header-head(pageTitle='Chef')"></head>

<body>
<!--HEADER-->
<div th:replace="fragments/header :: header"/>

<!--SUB-HEADER AREA-->
<div class="subhdr-wrapper">
    <div class="uk-container">

        <div class="uk-grid">
            <div th:replace="fragments/subheader :: message(${chef.userName})"/>
            <div th:replace="fragments/subheader :: swedish-chef"/>
        </div>

        <hr class="custom-hr">
    </div>
</div> <!-- subhdr-wrapper -->

<main>
    <div class="content-wrapper"> <!-- div without width spanning browser width -->

        <div class="uk-container">
            <div class="main-headers">
                <div class="main-titles margin16">
                    <p>latest spawn</p>
                </div>
                <hr class="custom-hr">

                <div th:if="${visualsChef.isEmpty}">
                    <br>
                    <p id="empty-list-message" th:text="${message}">message</p>
                </div>

                <div th:if="${!visualsChef.isEmpty}">
                    <div class="recipe-and-chef-wrapper margin16">
                        <div class="recipe-name">
                            <a th:href="@{/visual(visualId=${latestVisualForChef.id})}"
                               th:text="${latestVisualForChef.recipe.name}"
                               class="uk-link-text">recipename</a>
                        </div>
                    </div>
                    <!--            date and time of creation                  TODO: #likes-->
                    <div class="timestamp margin16">
                        <span th:text="${latestVisualForChef.timestampCreated}"></span>
                    </div>
                    <!--            hr-->
                    <hr class="custom-hr">
                </div>
            </div>

<!--            div img-->
            <div th:if="${!visualsChef.isEmpty}" uk-lightbox>
                <a class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                   th:attr="data-src=${latestVisualForChef.fileLocation}"
                   th:href="${latestVisualForChef.fileLocation}" uk-img></a>
            </div>
<!--            hr-->
            <hr th:if="${!visualsChef.isEmpty}" class="custom-hr">

<!--            div 2nd title header-->
<!--                more spawns-->
            <div th:if="${!visualsChef.isEmpty}" class="main-headers">
                <div class="main-titles margin16">
                    <p>more spawns</p>
                </div>
<!--            hr-->
                <hr class="custom-hr">

<!--            gallery (3 recipes in a row) TODO: navigation pagination-->
                <div class="uk-text-center" uk-grid>

                    <div class="uk-width-1-3" th:each="visual:${visualsChef}">

                        <div class="love">
<!--                        love line -->
                            <p>&lt3</p> <!-- placeholder -->
                        </div>

                        <div uk-lightbox>
                            <a class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                               th:attr="data-src=${visual.fileLocation}" uk-img
                               th:href="${visual.fileLocation}"></a>
                        </div>

                        <div class="recipe-name">
                            <a th:href="@{/visual(visualId=${visual.id})}"
                               th:text="${visual.recipe.name}"
                               class="uk-link-text">recipename</a>
                        </div>

<!--                        <div class="chef-name">-->
<!--                            <a th:href="@{/chef/{chefId}(chefId=${visual.chef.id})}"-->
<!--                               th:text="${visual.chef.userName}" class="uk-link-text">chefname</a>-->
<!--                        </div>-->
                        <!--date and time of creation                  TODO: #likes-->
                        <div class="main-subtitle-timestamp">
                            <span th:text="${visual.timestampCreated}">timestamp
                            </span>
                        </div>
                    </div>
                </div>

                <hr class="custom-hr">

                <!--                pagination -->
                <ul class="uk-pagination uk-flex-center pagination-home" uk-margin>
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{/chef/{chefId}(pageNr=${i}, chefId=${chef.id})}">[[${i}]]</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>

<!--<script>-->
<!--    // below code waits for page to get loaded. gets element that needs to be active. gets its id (in plain text). uses this value as parameter-->
<!--    document.addEventListener('readystatechange', event => {-->
<!--        if (document.readyState === "complete") {-->
<!--            let filterToActivate = [[${activeFilter}]].id;-->
<!--            setActiveFilter(filterToActivate);-->
<!--        }-->
<!--    });-->
<!--</script>-->

</body>
</html>