<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header-head(pageTitle='DishSpawn')"></head>
<body>

<!--HEADER-->
<div th:replace="fragments/header :: header"/>

<!--SUB-HEADER AREA-->
<div class="subhdr-wrapper"> <!-- div without width spanning browser width -->

    <div class="uk-container">
        <div class="uk-grid">
            <div class ="uk-width-1-2 page-subhdr">
                <div class="margin16">
                    <div class="imdishpawn">
                        <span>Hi! I'm Dish Spawn.</span>
                    </div>
                    <div class="feedme">
                        <p>Feed me an ingredient or two, and I<br>
                        will spawn you a nice dish!</p>
                    </div>
                    <div class="spawn-button">
                        <a class="uk-button uk-button-danger uk-border-pill"
                              th:href="@{/spawn}">Spawn Dish!</a>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/subheader :: swedish-chef"/>

        </div>
        <hr class="custom-hr">
    </div> <!-- container -->
</div> <!-- subhdr-wrapper -->

<main>
    <div class="content-wrapper"> <!-- div without width spanning browser width -->

        <div class="uk-container"> <!-- UIKit class to center + set max width -->
<!--            now set up the main content -->
<!--            div title header-->
            <div class="main-headers">
                <div class="main-titles margin16">
                    <p>latest spawn</p>
                </div>
                <hr class="custom-hr">

                <div uk-grid>
                    <div class="uk-width-4-5">
                        <!--            div subtitle-->
                        <div class="recipe-and-chef-wrapper margin16">
                            <div class="recipe-name">
                                <a th:href="@{/visual(visualId=${latestVisual.id})}"
                                   th:text="${latestVisual.recipe.name}" class="uk-link-text">recipename</a>
                            </div>
                            <span>&nbspby&nbsp</span>
                            <div class="chef-name">
                                <a th:href="@{/chef/{chefId}(chefId=${latestVisual.chef.id})}"
                                   th:text="${latestVisual.chef.userName}" class="uk-link-text">chefname</a>
                            </div>
                        </div>
                        <!--            date and time of creation                  TODO: #likes-->
                        <div class="timestamp margin16">
                            <span th:text="${latestVisual.timestampCreated}"></span>
                        </div>
                    </div>
                    <div class="love-box uk-width-expand">
                        <a th:if="${chefLovedPost}" th:href="@{/loveVisual(visualId=${latestVisual.id})}" uk-icon="heart" style="color: red"></a>
                        <a th:unless="${chefLovedPost}" th:href="@{/loveVisual(visualId=${latestVisual.id})}" uk-icon="heart"></a>
                        <span>&nbsp&nbsp</span>
                        <span th:text="${latestVisual.loveCount}"></span>
                    </div>
                </div>
                <!--            hr-->
                <hr class="custom-hr">
            </div>

<!--            div img-->
            <div uk-lightbox>
                <a class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                   th:attr="data-src=${latestVisual.fileLocation}"
                   th:href="${latestVisual.fileLocation}" uk-img></a>
            </div>
<!--            hr-->
            <hr class="custom-hr">

<!--            div 2nd title header-->
<!--                more spawns-->
            <div class="main-headers">
                <div class="main-titles margin16">
                    <p>more spawns</p>
                </div>
<!--            hr-->
                <hr class="custom-hr">

<!--            gallery (3 recipes in a row) TODO: navigation pagination-->
                <div class="uk-text-center" uk-grid>

                    <div class="uk-width-1-3" th:each="visual:${pagedVisuals}">

                        <div class="love-box">
                            <a th:if="${chefLovedPost}" th:href="@{/loveVisual(visualId=${visual.id})}"
                               uk-icon="heart" style="color: red"></a>
                            <a th:unless="${chefLovedPost}" th:href="@{/loveVisual(visualId=${visual.id})}"
                               uk-icon="heart"></a>
                            <span>&nbsp&nbsp</span>
                            <span th:text="${visual.loveCount}"></span>
                        </div>

                        <div uk-lightbox>
                            <a class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                               th:attr="data-src=${visual.fileLocation}" uk-img
                               th:href="${visual.fileLocation}"></a>
                        </div>

                        <div class="recipe-name">
                            <a th:href="@{/visual(visualId=${visual.id})}"
                               th:text="${visual.recipe.name}" class="uk-link-text">recipename</a>
                        </div>

                        <div class="chef-name">
                            <a th:href="@{/chef/{chefId}(chefId=${visual.chef.id})}"
                               th:text="${visual.chef.userName}" class="uk-link-text">chefname</a>
                        </div>
                        <!--                        TODO: #likes-->
                        <div class="main-subtitle-timestamp">
                            <span th:text="${visual.timestampCreated}">timestamp
                            </span>
                        </div>
                    </div>
                </div>
                <hr class="custom-hr">

                <!--                pagination -->
                <ul class="uk-pagination uk-flex-center pagination-home" uk-margin>
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{/home(pageNr=${i})}">[[${i}]]</a></li>
                </ul>
                <hr class="custom-hr">
            </div>
        </div>
    </div>
</main>

<!--<script>-->
<!--    // below code waits for page to get loaded. gets element that needs to be active. gets its id (in plain text). uses this value as parameter-->
<!--    document.addEventListener('readystatechange', event => {-->
<!--        if (document.readyState === "complete") {-->
<!--            let filterToActivate = [[${activeFilter}]].id;-->
<!--            setActiveFilter(filterToActivate);-->
<!--        }-->
<!--    });-->
<!--</script>-->

</body>
</html>