<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DishSpawn</title>
    <link rel="icon" type="image/png" href="img/spagh-favicon.png">

    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/css/master.css}">

    <script type="text/javascript" th:src="@{/js/master.js}"></script>
    <script type="text/javascript" th:src="@{/js/uikit.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/uikit-icons.min.js}"></script>

</head>
<body>

<!--HEADER-->
<div class="hdr-wrapper"> <!-- div without width spanning browser width -->

    <div class="uk-container"> <!-- UIKit class to center + set max width -->
        <!-- now set-up row/column structure -->

        <nav class="uk-navbar">
<!--            logo part (includes the text (name and tagline)-->
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img class="uk-margin-small-right food-icon"
                         src="/img/logo/icons8-rice-bowl-100.png">
                    <div class="tagline">
                        <div class="tagline-cell">
                            <p id="tagline-main">Dish Spawn</p>
                            <p id="tagline-sub">Virtual Cook Apprentice</p>
                        </div>
                    </div>
                </a>
            </div>

<!--            search-->
            <div class="uk-navbar-center">
                <div id="nav-search">
                    <a class="uk-navbar-toggle" uk-search-icon></a>
                    <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: -50">
                        <form class="uk-search uk-search-navbar uk-width-expand" action="javascript:executeSearch()">
                            <input id="searchKey" class="uk-search-input" type="search" placeholder="Search" autofocus>
                        </form>
                    </div>
                </div>
            </div>

<!--            chefs / recipes / login / register-->
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-link-text" href="/chef/all">Chefs</a></li>
                    <li><a class="uk-link-text" href="/recipe/all">Recipes</a></li>
                    <li><a class="uk-link-text" href="/chef/login">Login</a></li>
                    <li><a class="uk-link-text" href="/chef/add">Register</a></li>
                </ul>
            </div>

        </nav>

    </div>

</div>

<!--<hr>-->
<!--SUB-HEADER AREA-->
<div class="subhdr-wrapper"> <!-- div without width spanning browser width -->

    <div class="uk-container"> <!-- UIKit class to center + set max width -->
<!--        now set row with 2 elements: title of form + image-->

        <div class="uk-grid">
            <div class ="uk-width-1-2 page-subhdr">
                <div class="margin16">
                    <div class="imdishpawn">
                        <span>Hi! I'm Dish Spawn.</span>
                    </div>
                    <div class="feedme">
                        <p>Feed me an ingredient or two, and I<br>
                        will spawn you a nice dish!</p>
                    </div>
                    <div class="spawn-button">
                        <a class="uk-button uk-button-danger uk-border-pill"
                              th:href="@{/spawn}">Spawn Dish!</a>
                    </div>
                </div>
            </div>

            <div class="uk-width-expand">
                <img id="swedish-chef" src="/img/swedish-chef.png"
                     alt="swedish-chef-image">
            </div>
        </div>

        <hr class="custom-hr">

    </div> <!-- container -->

</div> <!-- subhdr-wrapper -->


<main>
    <div class="content-wrapper"> <!-- div without width spanning browser width -->

        <div class="uk-container"> <!-- UIKit class to center + set max width -->
<!--            now set up the main content -->
<!--            div title header-->
            <div class="main-headers">
                <div class="main-titles margin16">
                    <p>latest spawn</p>
                </div>
                <hr class="custom-hr">

                <!--            div subtitle-->
                <div class="recipe-and-chef-wrapper margin16">
                    <div class="recipe-name">
                        <a th:href="@{/visual(visualId=${latestVisual.id})}"
                           th:text="${latestVisual.recipe.name}" class="uk-link-text">recipename</a>
                    </div>
                    <span>&nbspby&nbsp</span>
                    <div class="chef-name">
                        <a th:href="@{/chef/{chefId}(chefId=${latestVisual.chef.id})}"
                           th:text="${latestVisual.chef.userName}" class="uk-link-text">chefname</a>
                    </div>
                </div>
<!--            date and time of creation                  TODO: #likes-->
                <div class="timestamp margin16">
                    <span th:text="${latestVisual.timestampCreated}"></span>
                </div>
                <!--            hr-->
                <hr class="custom-hr">
            </div>

<!--            div img-->
            <div uk-lightbox>
                <a class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                   th:attr="data-src=${latestVisual.fileLocation}"
                   th:href="${latestVisual.fileLocation}" uk-img></a>
            </div>
<!--            hr-->
            <hr class="custom-hr">

<!--            div 2nd title header-->
<!--                more spawns-->
            <div class="main-headers">
                <div class="main-titles margin16">
                    <p>more spawns</p>
                </div>
<!--            hr-->
                <hr class="custom-hr">

<!--            gallery (3 recipes in a row) TODO: navigation pagination-->
                <div class="uk-text-center" uk-grid>

                    <div class="uk-width-1-3" th:each="visual:${pagedVisuals}">

                        <div class="like">
                            <!--                        like line -->
                            <p>&lt3</p> <!-- placeholder -->
                        </div>

                        <div uk-lightbox>
                            <a class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                               th:attr="data-src=${visual.fileLocation}" uk-img
                               th:href="${visual.fileLocation}"></a>
                        </div>

                        <div class="recipe-name">
                            <a th:href="@{/visual(visualId=${visual.id})}"
                               th:text="${visual.recipe.name}" class="uk-link-text">recipename</a>
                        </div>

                        <div class="chef-name">
                            <a th:href="@{/chef/{chefId}(chefId=${visual.chef.id})}"
                               th:text="${visual.chef.userName}" class="uk-link-text">chefname</a>
                        </div>
                        <!--                        TODO: #likes-->
                        <div class="main-subtitle-timestamp">
                            <span th:text="${visual.timestampCreated}">timestamp
                            </span>
                        </div>

                    </div>

                </div>

                <hr class="custom-hr">

                <!--                pagination -->
                <ul class="uk-pagination uk-flex-center pagination-home" uk-margin>
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{/home(pageNr=${i})}">[[${i}]]</a></li>
                </ul>

                <hr class="custom-hr">

            </div>

        </div>

    </div>

</main>

<!--<script>-->
<!--    // below code waits for page to get loaded. gets element that needs to be active. gets its id (in plain text). uses this value as parameter-->
<!--    document.addEventListener('readystatechange', event => {-->
<!--        if (document.readyState === "complete") {-->
<!--            let filterToActivate = [[${activeFilter}]].id;-->
<!--            setActiveFilter(filterToActivate);-->
<!--        }-->
<!--    });-->
<!--</script>-->

</body>
</html>