<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header-head(pageTitle='Ooops')"></head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="subhdr-wrapper">
    <div class="uk-container">
        <div class="uk-grid">
            <div th:replace="fragments/subheader :: message(${message})"/>
        </div>
        <hr class="custom-hr">
    </div>
</div>

<main>
    <div class="content-wrapper">
        <div class="uk-container">

            <div class="container-form">
                <p>Sorry, I cannot find what you've requested.</p>
                <a class="uk-button uk-button-small uk-button-primary uk-border-pill" href="/">Home</a>
            </div>

        </div>
    </div>
</main>
</body>
</html>