<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <!-- viewport tag for enabling responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Spawn dummy</title>

    <!-- UIKit css -->
    <link rel="stylesheet" href="/css/uikit.min.css">
    <!-- own css -->
    <link rel="stylesheet" href="/css/master.css">

    <!-- UIKit js -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>

</head>
<body>

<!--HEADER-->
<div class="hdr-wrapper"> <!-- div without width spanning browser width -->

    <div class="uk-container"> <!-- UIKit class to center + set max width -->
        <!-- now set-up row/column structure -->

        <nav class="uk-navbar">
            <!--            logo part (includes the text (name and tagline)-->
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img class="uk-margin-small-right food-icon"
                         src="/img/logo/icons8-french-fries-100.png">
                    <div class="tagline">
                        <div class="tagline-cell">
                            <p id="tagline-main">Dish Spawn</p>
                            <p id="tagline-sub">Virtual Cook Apprentice</p>
                        </div>
                    </div>
                </a>
            </div>

            <!--            search-->
            <div class="uk-navbar-center">
                <div>
                    <a class="uk-navbar-toggle" uk-search-icon></a>
                    <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                        <form class="uk-search uk-search-navbar uk-width-1-1" action="javascript:executeSearch()">
                            <input id="searchField" class="uk-search-input" type="search" placeholder="Search" autofocus>
                        </form>
                    </div>
                </div>
            </div>

            <!--            chefs / recipes / login / register-->
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-link-text" href="/chef/all">Chefs</a></li>
                    <li><a class="uk-link-text" href="/recipe/all">Recipes</a></li>
                    <li><a class="uk-link-text" href="/chef/login">Login</a></li>
                    <li><a class="uk-link-text" href="/chef/add">Register</a></li>
                </ul>
            </div>

        </nav>

    </div>

</div>

<!--SUB-HEADER AREA-->
<div class="subhdr-wrapper"> <!-- div without width spanning browser width -->

    <div class="uk-container"> <!-- UIKit class to center + set max width -->
        <!--        now set row with 2 elements: title of form + image-->

        <div class="uk-grid">
            <div class="uk-width-1-2 rotate-div">
                <p class="rotate">Spawn me a dish!</p>
            </div>
            <div class="uk-width-expand">
                <img id="swedish-chef" src="/img/swedish-chef.png"
                     alt="swedish-chef-image">
            </div>
        </div>

        <hr class="custom-hr">

    </div> <!-- container -->

</div> <!-- subhdr-wrapper -->

<main>
    <div class="content-wrapper"> <!-- div without width spanning browser width -->

        <div class="uk-container"> <!-- UIKit class to center + set max width-->

            <div class="container-form">

                <div class="uk-margin">
                    <div class="form-main-titles margin16">
                        <p>Ingredient selector</p>
                    </div>

                    <form class="uk-search uk-search-default"
                          th:action="@{/spawn/search}" method="get"
                          style="display: inline-flex">
                                <input style="display: inline" class="uk-search-input"
                                       type="text" name="searchKey"
                                       placeholder="aubergine"/>
                                <button style="display: inline"
                                        class="uk-button uk-button-small uk-button-secondary uk-border-pill"
                                        type="submit">search</button>
                    </form>
                    <!-- little TODO - use search icon -->
<!--                    <form class="uk-search uk-search-default">-->
<!--                        <a th:href="@{/spawn/search}" method="get" uk-search-icon></a>-->
<!--                        <input class="uk-search-input" type="text" name="searchKey" th:value="${searchKey}" placeholder="aubergine"/>-->
<!--                    </form>-->

                    <div class="table-div" th:if="${!ingredientListPage.isEmpty()}">
                        <div class="form-main-titles margin16">
                            <p>Search result</p> <!-- todo: result for searchterm "xx" -->
                        </div>
                        <table class="uk-table uk-table-small table-result">
                            <thead>
                            <tr>
                                <th class="uk-width-1-2">Ingredient name</th>
                                <th class="uk-table-shrink"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="i : ${ingredientListPage}" th:field="${i}">
                                <td class="content-td" th:text="${i.name}"></td>
                                <td class="action-td"><a class="uk-button uk-button-small uk-button-secondary uk-border-pill"
                                       th:href="@{/spawn/add/{id}(id=${i.id})}">Select</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <ul class="uk-pagination uk-flex-center" uk-margin>
                            <li th:each="i: ${#numbers.sequence(1, totalFoundIngredientListPages)}">
                                <a th:href="@{/spawn/search(searchKey=${searchKey},pageNr=${i})}">[[${i}]]</a></li>
                        </ul>
                        <hr class="custom-hr">
                    </div>
                </div>

                <div th:if="${!ingredientSpawnSet.isEmpty()}">
                    <div class="form-main-titles margin16">
                        <p>Selected ingredients</p>
                    </div>
                    <li th:each="ingredient : ${ingredientSpawnSet}">
                        <span th:text="${ingredient.name}"></span>
                    </li>
                    <br>
                    <form th:action="@{/spawn/findrecipes}" method="get">
                        <button class="uk-button uk-button-small uk-button-secondary uk-border-pill" type="submit">
                            Find recipes
                        </button>
                    </form>
                </div>

                <div th:if="${findRecipe}">

                    <div th:if="${!recipeList.isEmpty()}">
                        <hr class="custom-hr">
                        <div class="form-main-titles margin16">
                            <p>Recipes found</p>
                        </div>
                        <!-- TODO: th if-else for 'no recipes found for ingredient selection' -->
                        <table class="uk-table uk-table-middle uk-table-divider table-result">
                            <thead>
                            <tr>
                                <!--                        <th>Id</th>-->
                                <th>Recipe name</th>
                                <th>By chef</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="r : ${recipeList}" th:field="${r}">
                                <td class="content-td">
                                    <a th:href="@{/recipe(recipeId=${r.id})}"
                                       th:text="${r.name}"
                                       class="uk-link-text">recipename</a>
<!--                                    <a th:href="@{/recipe/}" th:text="${r.name}">-->
<!--                                        <a th:href="@{/spawn/findrecipes(pageNr=${i})}">[[${i}]]</a>-->
                                </td>
                                <td class="content-td" th:text="${r.chef.userName}"></td>
                                <td class="action-td">
                                    <form th:action="@{/spawn/spawn/{id}(id=${r.id})}" th:object="${r}" method="post">
                                        <button class="uk-button uk-button-small uk-button-danger uk-border-pill" type="submit">
                                            Spawn!
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="uk-pagination uk-flex-center" uk-margin>
                            <li th:each="i: ${#numbers.sequence(1, totalFoundRecipeIngredientPages)}">
                                <a th:href="@{/spawn/findrecipes(pageNr=${i})}">[[${i}]]</a></li>
                        </ul>
                    </div>
                    <div class="spawn-message" th:if="${recipeList.isEmpty()}">
                        <p id="spawn-recipe-message" th:text="${message}">message</p>
                    </div>
                    <!--                button to reset recipes and selected ingredients-->
                    <form th:action="@{/spawn/reset}" method="get">
                        <button class="uk-button uk-button-small uk-button-primary uk-border-pill" type="submit">
                            Clear
                        </button>
                    </form>

                </div> <!-- end find recipe boolean div -->

            </div>

        </div>

    </div>

</main>


</body>
</html>