<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <!-- viewport tag for enabling responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Spawn dummy</title>

    <!-- UIKit css -->
    <link rel="stylesheet" href="/css/uikit.min.css">
    <!-- own css -->
    <link rel="stylesheet" href="/css/master.css">

    <!-- UIKit js -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit.icons.min.js"></script>

</head>
<body>

<!--HEADER-->
<div class="hdr-wrapper"> <!-- div without width spanning browser width -->

    <div class="uk-container"> <!-- UIKit class to center + set max width -->
        <!-- now set-up row/column structure -->

        <nav class="uk-navbar">
            <!--            logo part (includes the text (name and tagline)-->
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img class="uk-margin-small-right food-icon"
                         src="/img/logo/icons8-french-fries-100.png">
                    <div class="tagline">
                        <div class="tagline-cell">
                            <p id="tagline-main">Dish Spawn</p>
                            <p id="tagline-sub">Virtual Cook Apprentice</p>
                        </div>
                    </div>
                </a>
            </div>

            <!--            search-->
            <div class="uk-navbar-center">
                <div>
                    <a class="uk-navbar-toggle" uk-search-icon></a>
                    <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                        <form class="uk-search uk-search-navbar uk-width-1-1" action="javascript:executeSearch()">
                            <input id="searchField" class="uk-search-input" type="search" placeholder="Search" autofocus>
                        </form>
                    </div>
                </div>
            </div>

            <!--            chefs / recipes / login / register-->
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-link-text" href="/chef/all">Chefs</a></li>
                    <li><a class="uk-link-text" href="/recipe/all">Recipes</a></li>
                    <li><a class="uk-link-text" href="/chef/login">Login</a></li>
                    <li><a class="uk-link-text" href="/chef/add">Register</a></li>
                </ul>
            </div>

        </nav>

    </div>

</div>

<!--SUB-HEADER AREA-->
<div class="subhdr-wrapper"> <!-- div without width spanning browser width -->

    <div class="uk-container"> <!-- UIKit class to center + set max width -->
        <!--        now set row with 2 elements: title of form + image-->

        <div class="uk-grid">
            <p class="uk-width-1-2 rotate">Spawn me a dish!</p>
            <div class="uk-width-expand">
                <img id="swedish-chef" src="/img/swedish-chef.png"
                     alt="swedish-chef-image">
            </div>
        </div>

    </div> <!-- container -->

</div> <!-- subhdr-wrapper -->

<hr>

<main>

    <div class="content-wrapper"> <!-- div without width spanning browser width -->

        <div class="uk-container"> <!-- UIKit class to center + set max
        width -->
<!--            now set up the form-->

            <div class="container-form">

                <div class="uk-margin">
                    <h4>Ingredient selector</h4>
                    <form class="uk-search uk-search-default"
                          th:action="@{/spawn/search}" method="get"
                          style="display: inline-flex">
                                <input
                                        style="display: inline"
                                        class="uk-search-input"
                        type="text"
                                       name="search" placeholder="aubergine"/>
                                <button style="display: inline"
                                        class="uk-button uk-button-small"
                                        type="submit">
                                    search</button>

                    </form>

<!--                    <form class="uk-search uk-search-default">-->
<!--                        <a th:href="@{/spawn/search}" class="uk-search-icon-flip"></a>-->
<!--                        <input class="uk-search-input" type="text" name="search"-->
<!--                               placeholder="aubergine"/>-->
<!--                    </form>-->



                    <h4>Search result</h4>


                    <table class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                        <tr>
                            <!--<th>Id</th>-->
                            <th class="uk-width-small">Name</th>
                            <th>Category</th>
                            <th>Add</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="i : ${ingredientSearchResult}" th:field="${i}">
                            <!--<td th:text="${iStat.index+1}"></td>-->
                            <!--<td th:text="${i.id}"></td>-->
                            <td th:text="${i.name}"></td>
                            <td th:text="${i.category.label}"></td>
                            <td>
                                <a class="uk-button uk-button-small"
                                   th:href="@{/spawn/add/{id}(id=${i.id})}">Select</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--button to reset ingredient search result-->
<!--                <form th:action="@{/spawn/resetingredients}" method="get">-->
<!--                    <button class="uk-button uk-button-small" type="submit">-->
<!--                        Clear-->
<!--                    </button>-->
<!--                </form>-->

                <!--ALTERNATIVE TO ADD INGREDIENT TO SPAWN - NOT WORKING!-->
                <!--<li th:each="i : ${ingredientResult}">-->
                <!--    <form th:action="@{/spawn/add}" th:object="${i}" method="post">-->
                <!--        <span th:text="${i.name}"></span>-->
                <!--        <input type="submit" value="add to spawn">-->
                <!--    </form>-->
                <!--</li>-->

                <hr>

                <h4>Selected ingredients</h4>
                <li th:each="ingredient : ${ingredientSpawnSet}">
                    <span th:text="${ingredient.name}"></span>
                </li>
                <br>
                <form th:action="@{/spawn/findrecipes}" method="get">
                    <button class="uk-button uk-button-small" type="submit">
                        Find recipes
                    </button>
                    <!--                    <input type="submit" value="find recipes">-->
                </form>

                <!--button to reset spawn ingredients-->
                <hr>

                <h4> Recipes found</h4>

                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                    <tr>
<!--                        <th>Id</th>-->
                        <th>Name</th>
                        <th>By</th>
                        <th>Spawn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="r : ${recipeList}" th:field="${r}">
                        <!--        <td th:text="${iStat.index+1}"></td>-->
<!--                        <td th:text="${r.id}"></td>-->
                        <td th:text="${r.name}"></td>
                        <td th:text="${r.chef.userName}"></td>
                        <td>
                            <form th:action="@{/spawn/spawn/{id}(id=${r.id})}" th:object="${r}"
                                  method="post">
                                <button class="uk-button uk-button-small" type="submit">
                                    Spawn!
                                </button>
<!--                                <input type="submit" value="spawn recipe">-->
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

<!--                button to reset recipes and selected ingredients-->
                <form th:action="@{/spawn/resetspawn}" method="get">
                    <button class="uk-button uk-button-small" type="submit">
                        Clear
                    </button>
                    <!--                    <input type="submit" value="Clear">-->
                </form>

            </div>

        </div>

    </div>

</main>


</body>
</html>