<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header-head(pageTitle='Visual')"></head>

<body>

<div th:replace="fragments/header :: header"/>


<div class="subhdr-wrapper">
    <div class="uk-container">

        <div class="uk-grid">
            <div th:replace="fragments/subheader :: message(${visual.recipe.name})"/>
        </div>
        <hr class="custom-hr">

    </div>
</div>

<main>
    <div class="content-wrapper">
        <div class="uk-container">

            <div class="main-headers">
                <div class="main-titles margin16"> <!-- div title header -->
                    <p th:text="'Spawned by ' +${visual.chef.userName}">
                        spawned-by-chef-username</p>
                </div>

                <div class="timestamp margin16">
                    <p th:text="'on ' +${visual.timestampCreated}">
                        timestamp-created</p>
                </div>
                <hr class="custom-hr">
            </div>

            <div uk-lightbox>
                <a class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                   th:attr="data-src=${visual.fileLocation}"
                   th:href="${visual.fileLocation}" uk-img></a>
            </div>

            <hr class="custom-hr">

            <div class="ingredients-directions-titles-wrapper"> <!-- flex-->
                <div id="ingredients-title" class="margin16">
                    <span>Ingredients</span>
                </div>
                <div id="directions-title">
                    <span>Directions</span>
                </div>
            </div>

            <hr class="custom-hr">

            <div class="ingredients-directions-content-wrapper">
                <div id="ingredients-content" class="margin16">
    <!-- TODO: find way to access labels of enums... refactor MassConverter and VolumeConverter into Converter? -->
                    <ul>
                        <li th:each="recipeIngredient:${visual.recipe.recipeIngredients}">
                            <span th:if="${recipeIngredient.quantity != 0}"
                                    th:text="${#strings.capitalize(recipeIngredient.ingredient.name)} + ' - '">name</span>
                            <span th:if="${recipeIngredient.quantity == 0}"
                                  th:text="${#strings.capitalize(recipeIngredient.ingredient.name)}">name</span>
                            <span th:text="${recipeIngredient.quantity != 0} ? ${recipeIngredient.quantity} + ' ' : ''">quantity</span>
                            <span th:if="${recipeIngredient.unitName != null} AND ${recipeIngredient.unitName != 'PIECE'}"
                                  th:text="${#strings.toLowerCase(recipeIngredient.unitName)}"></span>
                        </li>
                    </ul>
                </div>
                <div id="directions-content">
                    <ol>
                        <li th:each="instruction:${visual.recipe.instructions}">
                            <span th:text="${instruction}"></span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>