/* app specific css */
/* global */


html {
    font-family: "Baloo 2", Helvetica, sans-serif;
    background-color: #fcfcfc;
    color: #222222;
}

body {
    /*font-family: Helvetica, Geneva, sans-serif;*/
    /*background-color: bisque;*/
}

.custom-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin32 {
    margin-left: 32px;
    /*border: 3px solid olivedrab;*/
}

.margin16 {
    margin-left: 16px;
}

/* HEADER STYLING */
/* set container to 1270 to get true 1200px content area / 35px margin */
.uk-container {
    max-width: 1200px;
}

.hdr-wrapper {
    background-color: #222222;
    min-height: 100px;
}

/* override of uk-logo font */
.uk-logo {
    /*font-family: Helvetica, Geneva, sans-serif;*/
    font-family: "Neue Montreal", Helvetica, Geneva, sans-serif;
}

.food-icon {
    width: 100px;
    height: 100px;
}

/* text styling (part of logo) */
.tagline {
    color: #dedede;
    display: table;
}

.tagline-cell #tagline-main #tagline-sub {
    display: table-cell;
}

#tagline-main {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 0px;
}

#tagline-sub {
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* search */

#nav-search {
    float: right;
}

.uk-navbar-toggle {
    color: #dedede;
}

/* TODO: search field */
/*.uk-search-input {*/
/*    width: 200px;*/
/*}*/

.uk-navbar-nav li a {
    color: #dedede;
    font-family: "Neue Montreal", Helvetica, Geneva, sans-serif;
}

/* SUB HEADER STYLING */
.subhdr-wrapper {
    /*background-color: #32d296;*/
    min-height: 200px;
    text-align: center;
}

/* for pages only */
.page-subhdr {
    display: grid;
    text-align: left;
    font-family: "Baloo 2", Helvetica, sans-serif;
    /*border: 3px solid green;*/
}

.imdishpawn {
    margin-top: 2vh;
    font-size: 3.2vw;
    font-weight: bold;
    color: #f0506e;
    /*border: 3px solid red;*/
    margin-bottom: 0px;
}

.feedme {
    font-size: 18px;
    /*color: #222222;*/
    /*border: 3px solid orange;*/
}

.feedme p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.spawn-button {
    margin-top: 2vh;
    width: 50%;
    /*margin-left: 5vw;*/
    /*border: 3px solid blueviolet;*/
}

/* for forms only */
.rotate-div {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rotate {
    /*display: grid;*/
    /*vertical-align: center;*/
    /*text-align: center;*/
    font-family: "Marker Felt", "Comic Sans MS", sans-serif;
    font-size: calc(3vw + 3vh + .5vmin);
    color: #f0506e;
    /*width: 600px;*/
    /*height: 200px;*/
    /*line-height: 200px;*/
    transform: rotateZ(-6deg);
}

#recipe-title {
    font-size: calc(2vw + 2vh + .5vmin);
}

#swedish-chef {
    height: auto;
    width: auto;
    max-height: 200px;
    /*max-width: 266px;*/
}

/*MAIN*/
.content-wrapper {
    min-height: 300px;
    text-align: center;
}

.container-form {
    margin: 0 auto;
    width: 50%;
    height: auto;
    /*border: solid 1px #222222;*/
}

.form-label {
    font-weight: bold;
}

.main-headers {
    text-align: left;
}

.main-titles {
    font-weight: bold;
    /*font-size: 1.6vw;*/
    font-size: calc(0.8vw + 1vh + .3vmin)
}

.form-main-titles {
    font-weight: bold;
    /*font-size: 1.6vw;*/
    font-size: calc(0.8vw + 1vh + .3vmin)
}

.main-titles p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.form-main-titles p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe-and-chef-wrapper {
    display: flex;
    font-style: italic;
}

/*#left, #middle, #right {display: inline-block; *display: inline; zoom: 1;}*/
.recipe-name {
    font-weight: bold;
    color: #f0506e;
}

.chef-name {
}

.timestamp {
}

.love-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-home {
    font-size: calc(0.7vw + 0.8vh + .3vmin);
}

.ingredients-directions-titles-wrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
    font-size: calc(0.8vw + 1vh + .3vmin);
    font-weight: bold;
}

#ingredients-title {
    width: 31%;
}

#directions-title {;
    margin-left: 10%;
    width: 59%;
    font-family: "Neue Montreal", Helvetica, Geneva, sans-serif;
    color: #f0506e;
}

.recipe-ingredients-directions-wrapper {
    display: flex;
    text-align: left;
}

.ingredients-directions-content-wrapper {
    display: flex;
    /*margin-top: 20px;*/
    text-align: left;
    font-size: calc(0.8vw + 0.8vh + .2vmin);
    /*font-weight: bold;*/
}

#ingredients-content {
    width: 31%;
}

#directions-content {
    margin-left: 10%;
    width: 59%;
    font-family: "Neue Montreal", Helvetica, Geneva, sans-serif;
    color: #f0506e;
}

/*SPAWN*/
.table-div {
    display: block;
    margin: 20px auto auto;
    max-width: 80%;
}

.table-result th {
    padding: 4px;
}

.table-result td {
    padding: 2px;
}

.content-td {
    text-align: left;
}

.action-td {
    text-align: right;
}

#empty-list-message {
    font-family: "Marker Felt", "Comic Sans MS", sans-serif;
    font-size: calc(1.2vw + 1.2vh + .2vmin);
    color: #f0506e;
    transform: rotateZ(1deg);

}

/*not used*/
#canvas-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}



