<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:fragment="header-head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="img/spagh-favicon.png">

        <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
        <link rel="stylesheet" th:href="@{/css/master.css}">

        <script type="text/javascript" th:src="@{/js/master.js}"></script>
        <script type="text/javascript" th:src="@{/js/uikit.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/uikit-icons.min.js}"></script>
<!--        only for visual.html note below:-->
<!--        COMMENT OUT p5 and script reference when running Processing implementation-->
<!--        <

script type="text/javascript" th:src="@{/js/p5.js}"></script>-->
<!--        <script type="text/javascript" th:src="@{/js/testjs_noisescript.js}"></script>-->

    </div>
</head>

<body>
<div th:fragment="header">
    <div class="hdr-wrapper"> <!-- div without width spanning browser width -->
        <div class="uk-container"> <!-- UIKit class to center + set max width -->
            <nav uk-navbar>
                <!--            logo part (includes the text (name and tagline)-->

                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="/">
                        <img class="uk-margin-small-right food-icon"
                             src="/img/logo/icons8-rice-bowl-100.png">
                        <div class="tagline">
                            <div class="tagline-cell">
                                <p id="tagline-main">Dish Spawn</p>
                                <p id="tagline-sub">Virtual Cook Apprentice</p>
                            </div>
                        </div>
                    </a>
                </div>

<!--                search / chefs / recipes / login / register / logout -->
                <div class="nav-overlay uk-navbar-center">
                    <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
                </div>
<!--                overlay of search function - when activated, it will overlay right side of navbar-->
                <div class="nav-overlay uk-navbar-right uk-flex-1" hidden>
                    <div class="uk-navbar-item uk-width-expand">
                        <form class="uk-search uk-search-navbar uk-width-1-2" action="javascript:executeSearch()">
                            <input id="searchKey" class="uk-search-input" type="search"
                                   placeholder="Search" aria-label="Search" autofocus/>
                        </form>
                    </div>
                    <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
                </div>

                <div class="nav-overlay uk-navbar-right">
                    <ul class="uk-navbar-nav">

<!--                        admin access for chef and recipe lists-->
                        <li th:if="${#authorization.expression('hasRole(''admin'')')}">
                            <a class="uk-link-text" href="/chef/all">Chefs</a>
                        </li>
                        <li th:if="${#authorization.expression('hasRole(''admin'')')}">
                            <a class="uk-link-text" href="/recipe/all">Recipes</a>
                        </li>

<!--                        login / register for anonymous user-->
                        <li sec:authorize="isAnonymous()">
                            <a class="uk-link-text" href="/login">Login</a>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a class="uk-link-text" href="/chef/create">Register</a>
                        </li>

                        <div sec:authorize="isAuthenticated()" class="uk-navbar-item">
                            <p class="uk-text-middle">logged in as <span th:text="${#authentication.getName()}"/></p>
                        </div>

                        <li sec:authorize="isAuthenticated()">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="uk-link-text"
                               onclick="document.forms['logoutForm'].submit()">
                               <span class="uk-text-warning">Logout</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>